/* ---------- General styles for blog page ---------- */

.main {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    h2,
    h3 {
        margin-top: 40px;
    }
}

.main h1 {
    /* width: 90%; */
    font-size: 40px;
    line-height: 60px;
    margin: 15px 0;
    font-weight: 700;
}

.main p>img {
    display: block;
    width: 100%;
    /* max-width: 650px; */
    margin-left: auto;
    margin-right: auto;
}

.main blockquote {
    padding: 5px 15px;
    margin: 35px 0;

    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    color: rgba(0, 0, 0, 0.65);
    background-color: #ffffffa5;
    border-left: 5px solid #57a8de;
    font-style: italic;
}

.main p>code {
    padding: 3px;
    border-radius: 3px;
    background-color: #fff;
    /* color: #000; */
    font-style: italic;
}


/* ---------- Caja de código de programación ---------- */

pre {
    width: 100%;
    /* max-width: 650px; */
    max-height: 600px;

    margin-left: auto;
    margin-right: auto;

    overflow-x: auto;
    border-radius: 5px;
}

/* ---------- Información banner ---------- */

.banner-article {
    display: flex;
    align-items: center;

    width: 100%;
    max-height: 450px;
    margin: 20px 0 50px;

    border-radius: 5px;
    overflow: hidden;
}

.banner-article img {
    width: 100%;

    object-fit: cover;
}

.main .main-info {
    margin: 35px 0;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    padding: 3px 10px;

    cursor: default;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 15px;

    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

@media (max-width: 600px) {
    .main h1 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* ---------- Caja de MathJax ---------- */

mjx-container {
    width: 100%;
    padding: 10px 0;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin;
    scrollbar-color: #57a8de transparent;
}