:root {
  background-color: #ecf0f1;
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

.article-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
}