/* ---------- Fuentes ---------- */

/* poppins-latin-400-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/poppins/files/poppins-latin-400-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-700-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/poppins/files/poppins-latin-700-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-500-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/poppins/files/poppins-latin-500-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---------- Estilos generales ---------- */

* {
  box-sizing: border-box;
}

:root {
  background-color: #ecf0f1;
}

body {
  /* display: grid;
  grid-template-rows: auto 1fr auto; */

  margin: 0;
  max-width: 1200px;
  padding: 0 25px;

  margin-left: auto;
  margin-right: auto;

  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

/* ---------- Header ---------- */

.header {
  position: sticky;
  top: 10px;
  z-index: 100;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  padding: 8px 15px;
  border-radius: 50px;

  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.header a {
  height: 35px;
}

.nav-icon {
  width: 35px;
  height: 35px;
  padding: 7px;

  cursor: pointer;
  color: black;
  transition: ease .3s;
  border-radius: 20px;
}

.nav-icon:hover {
  background-color: rgba(0, 0, 0, 0.2);
}


/* ---------- Banner ---------- */

.banner {
  text-align: center;
  text-transform: capitalize;
  margin: 80px 0;
}

/* ---------- Cards box ---------- */

.cards-box {
  columns: 4 250px;
  column-gap: 50px;
}

/* ---------- Article cards ---------- */

.article-card {
  overflow: hidden;

  width: 100%;
  margin-bottom: 50px;

  /* border-radius: 5px; */
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  transition: .3s ease;

  && a {
    color: inherit;
    text-decoration: none;
  }
}

.article-card:hover {
  scale: 1.02;
}

.article-card__info {
  padding: 15px;

  && h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
  }

  && p {
    font-size: 13px;
  }
}

.article-card img {
  width: 100%;
  height: auto;
}

/* ---------- Footer ---------- */

.footer {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 20vh;
  text-align: center;
}

/* ---------- [empty-string] ---------- */

.title {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

/* ---------- Links ---------- */

a {
  font-weight: 500;
  color: #1e95e4;
}